numpy
torch
torchvision
tensorboardX
pillow
matplotlib
mlflow==2.17.2
grafana-client
torchsummary
dvc[s3]
distro
cycler
contourpy
boto3          # Updated version
s3transfer      # Updated version
botocore       # Updated version
six
python-dateutil
prometheus_client
seaborn